<p>
  <strong>标签</strong>
  <%= @course.tag %>
</p>
 
<p>
  <strong>标题</strong>
  <%= @course.title %>
</p>
<p>
  <strong>子标题</strong>
  <%= @course.sub_title %>
</p>
<p>
  <strong>描述</strong>
  <%= @course.desc %>
</p>

<h2>讲师</h2>
<%= render @course.lecturers%>
