<div class="container content">
    <%= form_for @topic,url:admin_topic_path do |f| %>
        <div class="field form-label-group">
            <%= f.label "封面" %>
            <%= f.file_field :image, accept: "image/jpeg, image/jpg, image/gif, image/png", class:"form-control ds-input" %>
        </div>
        <div class="field form-label-group">
            <%= f.label "标题" %>
            <%= f.text_field :title, class:"form-control ds-input" %>
        </div>
        <div class="field form-label-group">
            <%= f.label "描述" %>
            <%= f.text_field :description, autocomplete: "off", class:"form-control ds-input" %>
        </div>
        <div class="actions text-center form-label-group">
            <%= f.submit "更新", class:"container btn btn-primary" %>
        </div>
    <% end %>
</div>