<style type="text/css">
<style type="text/css">
  html { overflow-y:hidden; background-color:#fff;width: 100%; margin: 0;padding: 0;}
  body{width: 100%;margin: 0;padding: 0; }
  .loginContainer_outer{
    max-width: 100%;
    width: 100%; 
    background: #ffffff url('../login_bg.jpg') no-repeat fixed top center ;
    background-size: 100%;
    margin:0;
    padding:0;
    border:none;
  }
</style>
<div class="loginContainer_outer" data-original="../login_bg.jpg">
<div class="loginContainer">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: "form"}) do |f| %>
    <div class="userContainer inputDiv">
        <%= f.text_field :mobile, class: "form-control", placeholder: "手机号", autofocus: true %>
      </div>
      <div class="passContainer inputDiv">
        <%= f.password_field :password, class: "form-control", placeholder: "密码", autocomplete: "off" %>
      </div>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
       <div class="sub_btn">
          <%= f.submit "登录" %>
        </div>
  <% end %>
 </div>
 </div>