<h1>Hello from Rails</h1>
<p>
  It is now <%= @time %>  <!--引用ruby-->
  </br> <a href="/say/goodbye">点我跳转到goodbye界面</a> <!--超链-->
  </br> <%= link_to "link_to()方法跳转到goodbye界面",say_goodbye_path %>  <!--辅助方法，第一个参数：超链显示的文字，第二个参数：超链地址say/goodbye-->
  </br>加法1+2= <%= 1+2 %>
  </br>字符串连接 <%= @str1+@str2 %>
  </br>一个小时内时间的表达 <%= 1.hour.from_now %>
  </br>遍历目录 <%= @files %>
  </br>遍历目录 <% for file in @files %>
                file name is:<%=file%></br>
               <% end %>
</p>
