<%= form_for @lecturer do |f| %>
  <div class="form-group">
                            <label>头像</label>
                            <%= f.file_field :avatar, class: "form-control", style: "display:none" %>
                            <img src="<%= @lecturer.avatar %>" class="img-avatar img-creator pure-img">
                          <div class="input-append ">
                            <a class="btn btn-primary btn-lg btn-block btn-info" onclick="$('input[id=lecturer_avatar]').click();">
                             <i class="glyphicon glyphicon-plus">添加
                             </i>
                            </a>
                          </div>
                          </div>
  <p>
    <%= f.label "姓名" %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "简介" %><br>
    <%= f.text_area :desc %>
  </p>
  <p>
    <%= f.submit "完成"%>
  </p>
<% end %>
<script type="text/javascript">
  //浏览文件效果
  $('input[id=lecturer_avatar]').change(function() {
    $('#photoCover').val($(this).val());
  });
  </script>