<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>GuoXin</title>
  <meta name="description" content="RubyOnRails" />
  <meta name="keywords" content="RubyOnRails" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
  <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
  <meta HTTP-EQUIV="expires" CONTENT="0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <%= stylesheet_link_tag    'desk', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'desk', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tag %>
</head>
<body>
<!-- link_to 是 Rails 内置的视图帮助方法之一，根据提供的文本和地址创建超链接。这上面这段代码中，地址是文章列表页面。 -->
<!-- 如果要链接到同一个控制器中的动作，不用指定 :controller 选项，因为默认情况下使用的就是当前控制器。 -->
<div class="nav" >
      <div class="nav_inner">
        <ul>
          <li><%= link_to 'Blog', controller: 'articles' %></li>
          <li><%= link_to 'Course', controller: 'courses' %></li>
          <li><%= link_to 'Lecturer', controller: 'lecturers' %></li>
          <li><%= link_to 'User', controller: 'users' %></li>
          <% if current_user %>
    		    <li><%= link_to "Logout", destroy_user_session_path, method: :delete, data:{confirm:'Are You Sure?'} %></li>
		      <% end %>
        </ul>
      </div>
</div>
<%= yield %>
<% unless %w(sessions registrations).include?(controller_name) %>

  <div class="footer">
  <div class="footer_inner">
    <div class="label_left">
      <p>g71x88@gmail.com</p>
    </div>
    <img src="/images/ic_logo.jpg" alt="">
    <div class="label_right">
     <p>Mr-GX.github.io</p>
   </div>
  </div>
</div>
<% end %>
</body>
</html>