<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= SERVER_NAME %></title>
    <meta name="description" content="<%= SERVER_DESCRIPTION %>" />
    <meta name="keywords" content="<%= SERVER_KEY_WORDS %>" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="shortcut icon" href="http://assets.xipeng.vip/heart.png" type="image/x-icon">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
    <link rel="stylesheet" href="http://assets.xipeng.vip/bootstrap.min.css">
    <script src="http://assets.xipeng.vip/jquery-3.3.1.slim.min.js"></script>
    <script src="http://assets.xipeng.vip/popper.min.js"></script>
    <script src="http://assets.xipeng.vip/bootstrap.min.js"></script>
  	<%= yield :css %>
  </head>
<body>
<div class="site-header sticky-top py-1">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<div class="container d-flex flex-column flex-md-row justify-content-between">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav w-75">
    <div class="w-25">
      <%= link_to '首页',root_path,class:"nav-item nav-link active"%>
    </div>
    <div class="w-25">
      <%= link_to '博客',topics_path,class:"nav-item nav-link active"%>
    </div>
    <div class="w-25">
      <%= link_to '关于',about_homes_path,class:"nav-item nav-link active"%>
    </div>
    </div>
  <% if user_signed_in? %>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_user.email %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to  "注销", destroy_user_session_path, class:"dropdown-item" %>
      </div>
    </div>
    <% else %>
        <%=link_to '登录',new_user_session_path,class: "btn btn-primary" %>
    <% end %>
  </div>
  </div>
  </div>
  <div class="row">
  <%= yield :html %>
  </div>
  <div class="row">
  <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
          <small class="d-block mb-3 text-muted">© <%= link_to "京ICP备18020626号-1", "http://www.miitbeian.gov.cn/", class:"text-muted"%></small>
        </div>
        <div class="col-6 col-md">
          <h5>博客</h5>
          <div class="list-unstyled text-small">
            <div class="div-inline"><%= link_to  image_tag("http://assets.xipeng.vip/Android.png", title: "Android"), topic_blogs_path(Topic.find_by_title("Android")||0), class:"text-muted" %></div>
            <div class="div-inline"><%= link_to  image_tag("http://assets.xipeng.vip/ruby.png", title: "Ruby on Rails", size: '18'), topic_blogs_path(Topic.find_by_title("Ruby")||0), class:"text-muted" %></div>
            <div class="div-inline"><%= link_to  image_tag("http://assets.xipeng.vip/spring.png", title: "Spring Boot", size: '24'), topic_blogs_path(Topic.find_by_title("Spring")||0), class:"text-muted" %></div>
          </div>
        </div>
        <div class="col-6 col-md">
          <h5>技术</h5>
          <div class="list-unstyled text-small">
            <div><%= link_to  image_tag("http://assets.xipeng.vip/github.png", title: "GitHub", size: '22'), "https://github.com/Mr-GX", class:"text-muted" %></div>
          </div>
        </div>
        <div class="col-6 col-md">
          <h5>关于</h5>
          <ul class="list-unstyled text-small">
            <li><%= link_to  "Timeline", timeline_homes_path, class:"text-muted" %></li>
            <li><%= link_to  "Address", "http://uri.amap.com/marker?position=116.471004,39.90774", class:"text-muted" %></li>
          </ul>
        </div>
      </div>
    </footer>
</nav>
</div>
</body>
<%= yield :js %>
</html>